<!DOCTYPE>
<html>
    <head>
        <title>BLog App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
			<div class="ui container">
				<div class ="header item">
				    <i class="code icon"></i>Blog Site	
                </div>
                
                <a href="/" class="item">Home</a>
                <% if(currentUser){ %>
                    <a href="/blogs/new" class="item">New Post</a>
                <% } %>
                

                <div class="right menu">
                    <% if(!currentUser){ %>
                        <a class="ui item" href="/login">
                            Login
                        </a>
                        <a class="ui item" href="/register">
                            Sign Up
                        </a>
                    <% } %>  
                    <% if(currentUser){ %>
                        <a class="ui item" href="#">
                            Logged in as <%= currentUser.username %>
                        </a>
                        <a class="ui item" href="/logout">
                            Logout
                        </a>
                    <% } %>    
                </div>
                    
                
            </div>
            
		</div>

